name: Graphs CI
on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  graphs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/graphs@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
