name: Static Site CI
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  repository_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  static-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/status-page@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
